<div class="form-group">
    <label for="name-{{id}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-9">
        <input name="name" id="name-{{id}}" type="text" class="form-control" placeholder="Field Name" value="{{attr.name}}" required>
    </div>
</div>
