<div class="form-group">
    <label for="name-{{id}}" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-9">
        <input name="name" id="name-{{id}}" type="text" class="form-control" placeholder="Ctrl Name" value="{{name}}" required>
        <span class="help-block">A ctrl name must be unique within the definition</span>
    </div>
</div>