{{{default-edit-fields}}}
<div class="form-group">
    <label for="companyField-{{name}}" class="col-sm-2 control-label">Company Field</label>
    <div class="col-sm-9">
        <select name="companyField" id="companyField-{{name}}" class="form-control"></select>
    </div>
</div>