<div class="form-group">
    <label for="text-{{id}}" class="col-sm-2 control-label">Text</label>
    <div class="col-sm-9">
        <input name="text" id="text-{{id}}" type="text" class="form-control" placeholder="Header Text" value="{{text}}" required>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">Size</label>
    <div class="col-sm-9">
        <label class="radio-inline"><input type="radio" name="size" value="1" required> H1</label>
        <label class="radio-inline"><input type="radio" name="size" value="2" required> H2</label>
        <label class="radio-inline"><input type="radio" name="size" value="3" required> H3</label>
        <label class="radio-inline"><input type="radio" name="size" value="4" required> H4</label>
        <label class="radio-inline"><input type="radio" name="size" value="5" required> H5</label>
    </div>
</div>